@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
/*
---------------------
DEFAULTS
---------------------
*/
/*
PRIMARY
*/
/*
NEUTRALS
*/
/*
FONT
*/
input[type=number] {
  display: block;
  -moz-appearance: textfield;
}

.mobile-center-flex, body .container .tip-calculator .total-container .reset-btn, body .container .tip-calculator, body .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  background-color: HSL(190, 49%, 84%);
  font-size: 1rem;
  font-weight: 700;
  font-family: "Space Mono", monospace;
}
body .container .tip-space,
body .container .total {
  white-space: pre-line;
}
body .container .splitter-img {
  margin-top: 3.125rem;
  margin-bottom: 2.55375rem;
}
body .container .tip-calculator {
  align-items: flex-start;
  padding: 2rem 1.5rem 2rem 1.5rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 25px;
  max-width: 23.4375rem;
  height: 49.3125rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}
body .container .tip-calculator .bill-input,
body .container .tip-calculator .tip-input,
body .container .tip-calculator .number-of-people,
body .container .tip-calculator .total-container {
  margin-top: 2rem;
}
body .container .tip-calculator .number-of-people-input,
body .container .tip-calculator .bill-input-field {
  border: none;
  outline: none;
  border-radius: 5px;
  text-align: end;
  max-width: 20.4375rem;
  color: hsl(183, 100%, 15%);
  font-size: 24px;
  font-weight: 700;
  padding: 1rem 1.0925rem 1rem 1.20375rem;
}
body .container .tip-calculator .bill-input-field {
  background: url(../images/icon-dollar.svg) no-repeat scroll left 16px center hsl(189, 41%, 97%);
}
body .container .tip-calculator .number-of-people-input {
  background: url(../images/icon-person.svg) no-repeat scroll left 16px center hsl(189, 41%, 97%);
}
body .container .tip-calculator .total-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.3125rem 1.375rem 1.5rem 1.5rem;
  max-width: 20.4375rem;
  background-color: hsl(183, 100%, 15%);
  border-radius: 15px;
  color: hsl(0, 0%, 100%);
}
body .container .tip-calculator .total-container .input-result {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  color: hsl(172, 67%, 45%);
}
body .container .tip-calculator .total-container .tip-amount-per-person {
  margin-bottom: 1.25rem;
}
body .container .tip-calculator .total-container .total-per-person {
  margin-bottom: 2rem;
}
body .container .tip-calculator .total-container .per-span {
  font-size: 0.8125rem;
  color: hsl(184, 14%, 56%);
}
body .container .tip-calculator .total-container .reset-btn {
  border: none;
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  border-radius: 5px;
  width: 17.5625rem;
  height: 3rem;
  font-size: 1.25rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Space Mono", monospace;
}
body .attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
body .attribution a {
  color: hsl(228, 45%, 44%);
}/*# sourceMappingURL=styles.css.map */