@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
/*
---------------------
DEFAULTS
---------------------
*/
/*
PRIMARY
*/
/*
NEUTRALS
*/
/*
FONT
*/
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=radio] {
  opacity: 0;
  position: absolute;
  z-index: 200;
}

input[type=number],
input[type=number]:hover,
input[type=number]:focus,
input[type=number]:active {
  display: block;
  -moz-appearance: textfield;
}

.center-flex, body .container .tip-calculator .total-container .reset-btn, body .container .tip-calculator, body .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  background-color: HSL(190, 49%, 84%);
  font-size: 1rem;
  font-weight: 700;
  font-family: "Space Mono", monospace;
}
body .container {
  margin-bottom: 4.5rem;
}
body .container .tip-space,
body .container .total {
  white-space: pre-line;
}
body .container .splitter-img {
  margin-top: 3.125rem;
  margin-bottom: 2.55375rem;
}
body .container .tip-calculator {
  padding: 2rem 1.5rem 2rem 1.5rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 25px;
  max-width: 23.4375rem;
  max-height: 49.3125rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}
body .container .tip-calculator .white-label-text {
  color: hsl(184, 14%, 56%);
  display: inline-block;
  margin-bottom: 0.375rem;
}
body .container .tip-calculator .input-section {
  max-width: 19.4375rem;
}
body .container .tip-calculator .tip-input,
body .container .tip-calculator .number-of-people,
body .container .tip-calculator .total-container {
  margin-top: 2rem;
}
body .container .tip-calculator .tip-buttons {
  margin-top: 0.625rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem 1.035rem;
  position: relative;
}
body .container .tip-calculator .tip-buttons .tip-button {
  width: 9.164375rem;
  height: 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(183, 100%, 15%);
  border-radius: 0.3125rem;
  color: hsl(0, 0%, 100%);
  font-size: 24px;
  font-weight: 700;
  font-family: "Space Mono", monospace;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
body .container .tip-calculator .tip-buttons .tip-button-custom {
  background-color: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%);
  border: none;
  outline: none;
  text-align: end;
  padding-left: 1.083125rem;
  padding-right: 1.1875rem;
  max-width: 6.89375rem;
  max-height: 3rem;
}
body .container .tip-calculator .tip-buttons .tip-button-custom::-moz-placeholder {
  color: hsl(186, 14%, 43%);
  opacity: 1;
}
body .container .tip-calculator .tip-buttons .tip-button-custom::placeholder {
  color: hsl(186, 14%, 43%);
  opacity: 1;
}
body .container .tip-calculator .tip-buttons .tip-button-custom:hover,
body .container .tip-calculator .tip-buttons .tip-button-custom:focus,
body .container .tip-calculator .tip-buttons .tip-button-custom:active {
  color: hsl(186, 14%, 43%);
}
body .container .tip-calculator .tip-buttons .checked {
  background-color: hsl(172, 67%, 45%);
  color: hsl(0, 0%, 100%);
}
body .container .tip-calculator .number-of-people-input,
body .container .tip-calculator .bill-input-field {
  border: none;
  outline: none;
  border-radius: 5px;
  text-align: end;
  max-width: 19.4375rem;
  color: hsl(183, 100%, 15%);
  font-size: 24px;
  font-weight: 700;
  padding: 1rem 0 1rem 1.20375rem;
}
body .container .tip-calculator .bill-input-field {
  background: url(../images/icon-dollar.svg) no-repeat scroll left 16px center hsl(189, 41%, 97%);
}
body .container .tip-calculator .number-of-people-input {
  background: url(../images/icon-person.svg) no-repeat scroll left 16px center hsl(189, 41%, 97%);
}
body .container .tip-calculator .active-state-label:hover,
body .container .tip-calculator .active-state-label:focus,
body .container .tip-calculator .active-state-label:active,
body .container .tip-calculator .bill-input-field:hover,
body .container .tip-calculator .bill-input-field:focus,
body .container .tip-calculator .bill-input-field:active,
body .container .tip-calculator .number-of-people-input:hover,
body .container .tip-calculator .number-of-people-input:focus,
body .container .tip-calculator .number-of-people-input:active {
  outline: 2px solid hsl(172, 67%, 45%);
  border-radius: 5px;
}
body .container .tip-calculator .total-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.3125rem 1.375rem 1.5rem 1.5rem;
  max-width: 20.4375rem;
  background-color: hsl(183, 100%, 15%);
  border-radius: 15px;
  color: hsl(0, 0%, 100%);
}
body .container .tip-calculator .total-container .input-result {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  color: hsl(172, 67%, 45%);
}
body .container .tip-calculator .total-container .tip-amount-per-person {
  margin-bottom: 1.25rem;
}
body .container .tip-calculator .total-container .total-per-person {
  margin-bottom: 2rem;
}
body .container .tip-calculator .total-container .per-span {
  font-size: 0.8125rem;
  color: hsl(184, 14%, 56%);
}
body .container .tip-calculator .total-container .reset-btn {
  border: none;
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  border-radius: 5px;
  width: 17.5625rem;
  height: 3rem;
  font-size: 1.25rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Space Mono", monospace;
  transition: background-color 0.3s ease, color 0.3s ease;
}
body .container .tip-calculator .total-container .reset-btn:hover,
body .container .tip-calculator .total-container .reset-btn:focus,
body .container .tip-calculator .total-container .reset-btn:active {
  background-color: #0D686D;
  color: hsl(183, 100%, 15%);
}
body .attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
body .attribution a {
  color: hsl(228, 45%, 44%);
}
@media (min-width: 1000px) {
  body .center-flex, body .container, body .container .tip-calculator, body .container .tip-calculator .total-container .reset-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  body .container {
    flex-direction: column;
  }
  body .container .tip-calculator {
    min-width: 57.5rem;
    min-height: 30.0625rem;
    padding: 0;
  }
  body .container .tip-calculator .input-section {
    margin: 1rem 0 1rem 3rem;
    width: 23.6875rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  body .container .tip-calculator .bill-input-field,
  body .container .tip-calculator .number-of-people-input {
    width: 23.6875rem;
  }
  body .container .tip-calculator .tip-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem 0.875rem;
  }
  body .container .tip-calculator .tip-buttons .tip-button {
    width: 7.3125rem;
  }
  body .container .tip-calculator .tip-buttons .tip-button-custom {
    max-width: 5.5rem;
  }
  body .container .tip-calculator .total-container {
    align-items: center;
    height: 26.0625rem;
    min-width: 25.8125rem;
    margin: 2rem 2rem 2rem 3rem;
    padding: 2.5rem 0;
  }
  body .container .tip-calculator .total-container .tip-amount-per-person,
  body .container .tip-calculator .total-container .total-per-person {
    min-width: 20.8125rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  body .container .tip-calculator .total-container .tip-amount-per-person {
    padding: 1rem 0 0.6875rem 0;
  }
  body .container .tip-calculator .total-container .total-per-person {
    margin-bottom: 8.3125rem;
  }
  body .container .tip-calculator .total-container .reset-btn {
    min-width: 20.8125rem;
    display: flex;
    justify-content: center;
  }
}/*# sourceMappingURL=styles.css.map */