.attribution { 
    font-size: 11px;
    text-align: center;
    width: 100%;
    color: $grayish-cyan;
    top: 98%;
    position: absolute;
    z-index: 5;
}

.attribution a { 
    color: $very-dark-cyan; 
}