.center-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    background-color:  HSL(190, 49%, 84%);
    font-size: rem-calc(16px);
    font-weight: 700;
    font-family: $font-family;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    position: relative;
    display: flex;
    padding: 0;
    margin: 0;

    .wrapper {
        margin: auto;
        min-width: 100%;
        min-height: 100%;
        
        .attribution {
            position: absolute;
            top: 97%;
        }
    }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
       -webkit-appearance: none;
        margin: 0;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus,
input[type="number"]:active {
    display: block;
    -moz-appearance: textfield;
}

input[type="radio"] {
    opacity: 0;
    position: absolute;
    z-index: 200;
}

.container {
    @extend .center-flex;
    margin-bottom: 4.5rem;
    position: relative;

    .tip-calculator {
        @extend .center-flex;
        padding: rem-calc(32px) rem-calc(24px) rem-calc(32px) rem-calc(24px);
        background-color: $white;
        border-radius: 25px;
        max-width: rem-calc(375px);
        max-height: rem-calc(789px);
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);

        .input-section{
            max-width: rem-calc(311px);
        }

        .tip-input,
        .number-of-people,
        .total-container {
            margin-top: rem-calc(32px);
        }

        .number-of-people-input,
        .bill-input-field {
            border: none;
            outline: none;
            border-radius: 5px;
            text-align: end;
            max-width: rem-calc(311px);
            max-height: rem-calc(48px);
            color: $very-dark-cyan;
            font-family: $font-family;
            font-size: $form-input;
            font-weight: 700;
            padding: rem-calc(16px) rem-calc(17px) rem-calc(16px) rem-calc(19.26px);
        }

        .bill-input {
            padding-right: rem-calc(16.72px);
        }

        .bill-input-field {
            background: url(../images/icon-dollar.svg) no-repeat scroll left 16px center $very-light-grayish-cyan;
        }

        .number-of-people-input {
            background: url(../images/icon-person.svg) no-repeat scroll left 16px center $very-light-grayish-cyan;
        }

        .bill-input-field::placeholder,
        .number-of-people-input::placeholder {
            color: $dark-grayish-cyan;
            opacity: .35;
        }

        .bill-input-field:hover,
        .bill-input-field:focus,
        .bill-input-field:active,
        .number-of-people-input:hover,
        .number-of-people-input:focus,
        .number-of-people-input:active  {
            outline: 2px solid $strong-cyan;
            border-radius: 5px;
        }

        .total-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: rem-calc(37px) rem-calc(22px) rem-calc(24px) rem-calc(24px);
            width: rem-calc(327px);
            height: rem-calc(257px);
            background-color: $very-dark-cyan;
            border-radius: 15px;
            color: $white;
            position: relative;

            .align-result {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                position: relative;
                bottom: rem-calc(48px);
            }

        }
    }
}

/*
---------------------
DESKTOP MEDIA QUERIES
---------------------
*/

@media (min-width: 1000px) {

    .center-flex {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .attribution {
        position: relative;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .tip-calculator {
            min-width: rem-calc(920px);
            min-height: rem-calc(481px);
            padding: 0;

            .input-section {
                margin: rem-calc(16px) rem-calc(0px) rem-calc(16px) rem-calc(48px);
                width: rem-calc(379px);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            .bill-input-field,
            .number-of-people-input {
                min-width: rem-calc(379px);
                box-sizing: border-box;
                padding-right: rem-calc(17px);
                padding-left: rem-calc(36px);
            }

            .tip-buttons {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, 1fr);
                gap: rem-calc(16px) rem-calc(14px);

                .tip-button {
                    width: rem-calc(117px);
                }

                .tip-button-custom{
                    width: rem-calc(118px);
                    padding-left: rem-calc(14px);
                    padding-right: rem-calc(15px)
                }
            }

            .total-container {
                align-items: center;
                height: rem-calc(417px);
                width: rem-calc(413px);
                margin: rem-calc(32px) rem-calc(32px) rem-calc(32px) rem-calc(48px);
                padding: rem-calc(40px) rem-calc(0px);
                position: relative;

                    .tip-amount-per-person,
                    .total-per-person {
                        width: rem-calc(333px);
                    }

                    .tip-amount-per-person {
                        padding: rem-calc(16px) rem-calc(0) rem-calc(11px) rem-calc(0);
                        margin-bottom: rem-calc(25px);
                    }

                    .total-per-person {
                        margin-top: rem-calc(41px);
                        margin-bottom: rem-calc(133px);
                    }

                    .input-result {
                        font-size: $total-desktop-font-size;
                    }

                    .align-result {
                        bottom: rem-calc(62px);
                        left: rem-calc(55px);
                    }

                    .reset-btn {
                        min-width: rem-calc(333px);
                        display: flex;
                        justify-content: center;
                    }
                }
            }
        }
    }
    
