/*
---------------------
DEFAULT VARIABLES
---------------------
*/


/*
PRIMARY
*/

$strong-cyan: hsl(172, 67%, 45%);

/*
NEUTRALS
*/

$very-dark-cyan: hsl(183, 100%, 15%);
$dark-grayish-cyan: hsl(186, 14%, 43%);
$grayish-cyan: hsl(184, 14%, 56%);
$light-grayish-cyan: hsl(185, 41%, 84%);
$very-light-grayish-cyan: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);
$error-color: #E17457;
$rem-base: 16px;
$form-input: 24px;
$total-mobile-font-size: 32px;
$total-desktop-font-size: 48px;
$font-family: 'Space Mono', monospace;