@media (min-width: 1000px) {

    .center-flex {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .container {
        flex-direction: column;

        .tip-calculator {
            min-width: rem-calc(920px);
            min-height: rem-calc(481px);
            padding: 0;

            .input-section {
                margin: rem-calc(16px) rem-calc(0px) rem-calc(16px) rem-calc(48px);
                width: rem-calc(379px);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            .bill-input-field,
            .number-of-people-input {
                min-width: rem-calc(379px);
                box-sizing: border-box;
                padding-right: rem-calc(17px);
                padding-left: rem-calc(36px);
            }

            .tip-buttons {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, 1fr);
                gap: rem-calc(16px) rem-calc(14px);

                .tip-button {
                    width: rem-calc(117px);
                }

                .tip-button-custom{
                    max-width: rem-calc(117px) - rem-calc(15px) - rem-calc(14px);
                }
            }

            .total-container {
                align-items: center;
                max-height: rem-calc(417px);
                min-width: rem-calc(413px);
                margin: rem-calc(32px) rem-calc(32px) rem-calc(32px) rem-calc(48px);
                padding: rem-calc(40px) rem-calc(0px);

                    .tip-amount-per-person,
                    .total-per-person {
                        min-width: rem-calc(333px);
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                    }

                    .tip-amount-per-person {
                        padding: rem-calc(16px) rem-calc(0) rem-calc(11px) rem-calc(0);
                    }

                    .total-per-person {
                        margin-bottom: rem-calc(133px);
                    }

                    .reset-btn {
                        min-width: rem-calc(333px);
                        display: flex;
                        justify-content: center;
                    }
                }
            }
        }
    }
    
