@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

.white-label-text {
    color: #5E7A7D;
    display: inline-block;
    margin-bottom: rem-calc(6px);
}

.tip-space,
.total {
    white-space: pre-line;
}

.input-result {
    font-size: $total-desktop-font-size;
}

.per-span {
    font-size: rem-calc(13px);
    color: $grayish-cyan;
    position: relative;
    bottom: 2px;
}

.tip-amount-per-person,
.total-per-person {
    width: rem-calc(281px);
    height: rem-calc(48px);
}

.tip-amount-per-person {
    margin-bottom: rem-calc(20px);
}

.total-per-person {
    margin-bottom: rem-calc(32px);
}

.input-result,
.input-result::placeholder {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    color: $strong-cyan;
    font-weight: 700;
    font-family: $font-family;
    text-align: right;
    max-width: rem-calc(281px);
    font-size: $total-mobile-font-size;
}